# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# User settings (do not track user-specific files)
xcuserdata/
*.xcuserdata
*.xcuserdatad

# Xcode workspace user data
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
!Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/readme.md

# Editors
.vscode/
.idea/

# Logs & temp
*.log
*.swp
*.tmp

# Archives & symbols
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

#Private
Docs/ChatRecords

